<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated mbrp -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="se.nu.mbrp.presentation.MbrpModelWizardID"
            name="%_UI_MbrpModelWizard_label"
            class="se.nu.mbrp.presentation.MbrpModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MbrpModelFile.gif">
         <description>%_UI_MbrpModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated mbrp -->
      <editor
            id="se.nu.mbrp.presentation.MbrpEditorID"
            name="%_UI_MbrpEditor_label"
            icon="icons/full/obj16/MbrpModelFile.gif"
            extensions="mbrp"
            class="se.nu.mbrp.presentation.MbrpEditor"
            contributorClass="se.nu.mbrp.presentation.MbrpActionBarContributor">
      </editor>
   </extension>

</plugin>
