<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mbrp -->
      <package
            uri="http://nu.edu.pk/mbrp"
            class="pk.nu.mbrp.MbrpPackage"
            genModel="model/mbrp.genmodel"/>
   </extension>

</plugin>
